* {
    padding: 0;
    margin: 0;
}
/*Animation*/

.header-center a:hover{
    color:rgb(255,214,163);
}

/*NAV_BAR*/



.header-center li{
    padding-right: 10vh;
    display: inline;
    font-size: 30px;
}

.header-center a{
    transition: color .1s linear;
    color: aliceblue;
    text-decoration: none;
}


.header-center{
    padding-bottom: 3vh;
    padding-top: 2vh;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(17,91,89,1)
    
}

.header-left img{
    background-size: contain;
    margin-left: 2vh;
    margin-top: 1vh;
    height: 5vh;
}

.main-bg {
    background-color:#D6E1D2 ;
    background-size: 100px;
    z-index: ;
}

/*STONKS*/

.hello-images{
    height: 100%;
    width: 100%;
    background: url(images/stonks3.jpg) center no-repeat;
    background-size: cover;
}

.shadow-layer{
    background:rgb(0,0,0,0.65);
    height: 100vh;
}

.hello-text{
    display: flex;
    justify-content: center;
    padding-top: 30vh;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
}

.hello-text p{
    font-size: 80px;
    color: rgb(255,255,255,0.8);
    font-family: cursive;
}


/*WEBS PANEL*/

footer{
    border: 1px solid rgb(0,0,0,0.96);
    background-color: rgb(1,1,1,1);
}

.footer-text{
    font-size: 20px;
    font-family: fantasy;
    color:rgb(255,255,255,0.9);
    padding-top: 3vh;
    padding-left: 2vw;
}

.images-webs-box{
    margin-top: 1vh;
    margin-left: 2vw;
}

.images-webs img{
    height: 4vh;
    width: 4vh;
    padding: 1vh;
}

/*Calculator*/

.calculatorBG{
    height: 100vh;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}

.calculator{
    width: 70vw;
    height: 100vh;
    padding-left: 15vw;
    padding-right: 15vw;
}


/*Adaptation*/

@media (max-width: 1000px){
    
    .hello-text p{
/*        font-size: 100px;*/
    }
    
    .header-left img{
        height: 7vh;
    }
    
    .header-left{
        margin-top: 1vh;
        margin-bottom: 1vh;
        height: vh;
    }
    
    div.header-center li{
        padding-right: 6vw;
    }
    
    .header-center{
        padding-top: 3vh;
    }
    
    div.header-center li{
        font-size: 45px;
    }
    
  header li{
      padding: 1vh;
      padding-right: 8vw;
    }
  header{
    /* Меняем оси шапки, делая её вертикальной. */
      
  
    /* Выравнивание элементов шапки с начала (по левому краю). */
    align-items: flex-start;
    }
    
    .footer-text{
        font-size: 40px;
    }
    
    .main-calculator {
    }
}

@media (max-width: 800px) {
    
    div.header-center li{
        font-size: 50px;
    }
    
    .header-center{
        padding-top: 4vh;
    }
    
    .hello-text{
        padding-top: 15vh;
    }
    
    .hello-text p{
        font-size: 80px;
    }
    
    .footer-text{
        font-size: 40px;
    }
}
